.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:25.934400px;}
._0{width:50.262400px;}
._3{width:53.290000px;}
._2{width:135.223200px;}
.fc2{color:rgb(89,89,89);}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs1{font-size:48.000000px;}
.fs3{font-size:56.000000px;}
.fs0{font-size:63.840000px;}
.fs4{font-size:64.000000px;}
.y1e{bottom:2.381800px;}
.y18{bottom:2.888700px;}
.y4{bottom:3.741700px;}
.y8{bottom:3.741800px;}
.y13{bottom:4.388700px;}
.y2{bottom:4.731700px;}
.y11{bottom:5.455100px;}
.y15{bottom:5.859400px;}
.y1a{bottom:8.381800px;}
.y17{bottom:13.875000px;}
.ye{bottom:47.979100px;}
.yb{bottom:52.543500px;}
.yd{bottom:61.479100px;}
.y0{bottom:62.000000px;}
.y1d{bottom:70.149100px;}
.y16{bottom:93.399100px;}
.yf{bottom:128.229100px;}
.y19{bottom:131.649100px;}
.yc{bottom:143.229100px;}
.y1b{bottom:169.899100px;}
.y1c{bottom:208.149100px;}
.y12{bottom:227.140800px;}
.y14{bottom:244.899100px;}
.y10{bottom:248.140800px;}
.ya{bottom:292.262500px;}
.y9{bottom:308.129900px;}
.y7{bottom:323.997400px;}
.y6{bottom:339.864900px;}
.y5{bottom:355.732400px;}
.y3{bottom:371.599900px;}
.y1{bottom:387.467400px;}
.h10{height:11.250000px;}
.hc{height:15.000000px;}
.h7{height:15.367400px;}
.h4{height:15.367500px;}
.h2{height:20.326100px;}
.ha{height:21.000000px;}
.he{height:23.250000px;}
.h9{height:24.468750px;}
.hd{height:24.486328px;}
.h5{height:32.625000px;}
.h6{height:32.648438px;}
.hb{height:38.062500px;}
.h3{height:43.391250px;}
.hf{height:43.500000px;}
.h1{height:346.000000px;}
.h8{height:356.000000px;}
.h0{height:462.043500px;}
.wb{width:54.750000px;}
.wa{width:75.000000px;}
.w3{width:76.696600px;}
.w4{width:76.696700px;}
.w5{width:133.256500px;}
.w7{width:144.000000px;}
.w8{width:174.750000px;}
.w9{width:194.250000px;}
.w2{width:519.239600px;}
.w1{width:893.500000px;}
.w6{width:925.000000px;}
.w0{width:1024.102100px;}
.x15{left:1.286100px;}
.x18{left:2.299800px;}
.x8{left:3.388700px;}
.x3{left:5.507400px;}
.x12{left:7.722700px;}
.x14{left:9.583000px;}
.xf{left:13.781300px;}
.x16{left:19.864800px;}
.x13{left:26.889400px;}
.x0{left:50.500000px;}
.x1{left:147.175000px;}
.x2{left:184.406500px;}
.x4{left:261.603100px;}
.xc{left:266.799100px;}
.xb{left:272.049100px;}
.xe{left:279.916100px;}
.xd{left:294.916100px;}
.x9{left:333.549100px;}
.x5{left:338.799700px;}
.xa{left:357.549100px;}
.x6{left:415.996300px;}
.x7{left:493.193000px;}
.x11{left:576.408700px;}
.x1c{left:631.158700px;}
.x10{left:659.658700px;}
.x1b{left:693.408700px;}
.x1a{left:756.408700px;}
.x19{left:819.408700px;}
.x17{left:881.658700px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:34.579200pt;}
._0{width:67.016533pt;}
._3{width:71.053333pt;}
._2{width:180.297600pt;}
.fs2{font-size:48.000000pt;}
.fs1{font-size:64.000000pt;}
.fs3{font-size:74.666667pt;}
.fs0{font-size:85.120000pt;}
.fs4{font-size:85.333333pt;}
.y1e{bottom:3.175733pt;}
.y18{bottom:3.851600pt;}
.y4{bottom:4.988933pt;}
.y8{bottom:4.989067pt;}
.y13{bottom:5.851600pt;}
.y2{bottom:6.308933pt;}
.y11{bottom:7.273467pt;}
.y15{bottom:7.812533pt;}
.y1a{bottom:11.175733pt;}
.y17{bottom:18.500000pt;}
.ye{bottom:63.972133pt;}
.yb{bottom:70.058000pt;}
.yd{bottom:81.972133pt;}
.y0{bottom:82.666667pt;}
.y1d{bottom:93.532133pt;}
.y16{bottom:124.532133pt;}
.yf{bottom:170.972133pt;}
.y19{bottom:175.532133pt;}
.yc{bottom:190.972133pt;}
.y1b{bottom:226.532133pt;}
.y1c{bottom:277.532133pt;}
.y12{bottom:302.854400pt;}
.y14{bottom:326.532133pt;}
.y10{bottom:330.854400pt;}
.ya{bottom:389.683333pt;}
.y9{bottom:410.839867pt;}
.y7{bottom:431.996533pt;}
.y6{bottom:453.153200pt;}
.y5{bottom:474.309867pt;}
.y3{bottom:495.466533pt;}
.y1{bottom:516.623200pt;}
.h10{height:15.000000pt;}
.hc{height:20.000000pt;}
.h7{height:20.489867pt;}
.h4{height:20.490000pt;}
.h2{height:27.101467pt;}
.ha{height:28.000000pt;}
.he{height:31.000000pt;}
.h9{height:32.625000pt;}
.hd{height:32.648438pt;}
.h5{height:43.500000pt;}
.h6{height:43.531250pt;}
.hb{height:50.750000pt;}
.h3{height:57.855000pt;}
.hf{height:58.000000pt;}
.h1{height:461.333333pt;}
.h8{height:474.666667pt;}
.h0{height:616.058000pt;}
.wb{width:73.000000pt;}
.wa{width:100.000000pt;}
.w3{width:102.262133pt;}
.w4{width:102.262267pt;}
.w5{width:177.675333pt;}
.w7{width:192.000000pt;}
.w8{width:233.000000pt;}
.w9{width:259.000000pt;}
.w2{width:692.319467pt;}
.w1{width:1191.333333pt;}
.w6{width:1233.333333pt;}
.w0{width:1365.469467pt;}
.x15{left:1.714800pt;}
.x18{left:3.066400pt;}
.x8{left:4.518267pt;}
.x3{left:7.343200pt;}
.x12{left:10.296933pt;}
.x14{left:12.777333pt;}
.xf{left:18.375067pt;}
.x16{left:26.486400pt;}
.x13{left:35.852533pt;}
.x0{left:67.333333pt;}
.x1{left:196.233333pt;}
.x2{left:245.875333pt;}
.x4{left:348.804133pt;}
.xc{left:355.732133pt;}
.xb{left:362.732133pt;}
.xe{left:373.221467pt;}
.xd{left:393.221467pt;}
.x9{left:444.732133pt;}
.x5{left:451.732933pt;}
.xa{left:476.732133pt;}
.x6{left:554.661733pt;}
.x7{left:657.590667pt;}
.x11{left:768.544933pt;}
.x1c{left:841.544933pt;}
.x10{left:879.544933pt;}
.x1b{left:924.544933pt;}
.x1a{left:1008.544933pt;}
.x19{left:1092.544933pt;}
.x17{left:1175.544933pt;}
}
